@keyframes fade-in {

    0% {
      opacity: 0;
    }
  
    75% {
      opacity: .7;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slide-up {
  
    0% {
      transform: translateY(200px);
    }
  
    75% {
      opacity: .7;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes large-button {
    0% {
      transform: scale(1);
    }


    50% {
      transform: scale(1.3)
    }


    100% {
      transform: scale(1);
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(400px);
      opacity: 0;
    }

    40% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }

    70% {
      transform: translateX(0) scale(1.1);
      opacity: 1;
    }

    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }

  }

  @keyframes girotondo {
      0% {
        transform:  translate(-50%, -50%) rotate(-1turn);
      }
  }