.aside_left {
  height: 1055.6px;
  background-color: lightblue;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  .banner_container {
    @include allcenter;
    flex-direction: column;
  }
}
