#blogCarousel {
    padding-bottom: 100px;
  }

  .blog .carousel-indicators {
    left: 0;
    top: 10px;
    height: 50%;
  }


  /* The colour of the indicators */

  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 100%;
    width: 16px;
    height: 0px;
  }

  .blog .carousel-indicators .active {
    background: #f2e93a;
  }




  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }

  .item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
  }

  .item-box-blog-image {
    position: relative;
    .created-at-stick {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.5);
      width: 25%;
      height: 10%;
      z-index: 10;
      border-radius: 0px 0px 20px 0px;


      #created-at {
        color: white;
        font-size: 15px;
        margin: 0;
      }
    }
  }

  .item-box-blog-image figure img {
    width: 100%;
    height: auto;
  }


  .item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
  }

  .item-box-blog-date span.mon {
    font-size: 18px;
  }

  .item-box-blog-date span.day {
    font-size: 16px;
  }

  .item-box-blog-body {
    padding: 10px;
  }

  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }

  .item-box-blog-heading {
    h6 {
      color: rgb(182, 182, 182);
      text-align: right;
    }
  }

  .item-box-blog-heading a {
      text-decoration: none;
  }

  .item-box-blog-data p {
    font-size: 13px;
  }

  .item-box-blog-data p i {
    font-size: 12px;
  }

  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;


  }

  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }

  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }

  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }

  .mt {

    .btn.button-bnb {
      background-color: $redbnb;
      color: white;
    }
  }

  .apartment-services {
    display: flex;
    flex-direction: column;


    // @include allcenter;
    .servizi {
      width: 100%;
      height: 80%;
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      li {
        padding: 6px;

        text-align: center;

        .fas {
          color: $redbnb;
        }
      }
    }
  }
