#blogCarousel {
    padding-bottom: 100px;
  }

  .blog .carousel-indicators {
    left: 0;
    top: 10px;
    height: 50%;
  }


  /* The colour of the indicators */

  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 100%;
    width: 16px;
    height: 0px;
  }

  .blog .carousel-indicators .active {
    background: #f2e93a;
  }




  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }

  .item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
  }

  .item-box-blog-image {
    position: relative;
  }

  .item-box-blog-image figure img {
    width: 100%;
    height: auto;
  }

  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
  }

  .item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
  }

  .item-box-blog-date span.mon {
    font-size: 18px;
  }

  .item-box-blog-date span.day {
    font-size: 16px;
  }

  .item-box-blog-body {
    padding: 10px;
  }

  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }

  .item-box-blog-heading a {
      text-decoration: none;
  }

  .item-box-blog-data p {
    font-size: 13px;
  }

  .item-box-blog-data p i {
    font-size: 12px;
  }

  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
  }

  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }

  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }

  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }
