// .profile-container {
//     width: 200px;
//     height: 200px;
//     border: solid 1px black;
//     border-radius: 100%;
//     img {
//         width: 100%;
//         border-radius: 100%;
//     }
// }

.profile-marco {
    width: 300px;
    background: url(http://localhost:8000/img/profile-marco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}