.main_content {

  h2 {
      color: $redbnb;
  }

  button {
      background-color: $redbnb;
      border-color: $redbnb;
      color: white;
      transition: all .2s linear;

      &:hover {
          opacity: .8;
          color: white;
      }
  }

  .form-check-inline {
      label {
          margin-bottom: 0;
          margin-left: 5px;
      }
    }
}
