// NO RACISM CONTAINER
.no_racism {
  background: black;
  color: white;
  padding-bottom: 30px;
  border-radius: 1rem;
  transform: translateX(400px);
  opacity: 0;
  animation: slide-left 3s 2s ease-in-out forwards;
}

// CARD CSS
.onHover {
  border: none;
  background-image: linear-gradient(270deg, rgb(255, 240, 240), white);
  transition: all 0.2s linear;
  img {
    border-radius: 0.25rem;
    height: 100%;
  }
  &:hover {
    transform: scale(1.06);
  }
  .fab.fa-stripe-s {
    font-size: 22px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  h3 {
    a:hover {
      text-decoration: none;
    }
  }
  .hr_container {
    height: 10px;
    width: 136.245px;
  }
}

// TOTAL PRICE
.total_prc {
  text-decoration: underline;
}

// BOTTONE IN BASSO A DESTRA
.from_bottom {
  height: 100%;
  width: 100%;
  padding: 1.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

// LINK-PAGINATION
ul {
  .page-item .page-link {
    color: $redbnb;
  }
  .page-item.active .page-link {
    background-color: $redbnb;
    border-color: $redbnb;
  }
}

.lastboxes{
  justify-content: center;
}

#scrolled-button {
  background-color:$redbnb;
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  color: white;
  display: none;
}

// INIZIO RESPONSIVE
@media screen and (max-width: 991px) {

  .jumbotitle{
    text-align: center !important;
  }

  .aside_left{
    margin-bottom: 50px;
  }

  .card-body>h3{
    font-size: 50px;
  }

  .card-body>p{
    font-size: 25px;
  }

  .card{
    border-radius: 20px;
  }

}

@media screen and (max-width: 1170px) {

  .mediaquery_disappear{
    display: none;
  }

  .card{
    max-height: 180px;
    max-width: 500px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 1455px) {

  .pagination{
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .card{
    max-height: 200px;
    max-width: 730px;
    margin-left: 100px;

    img{
      max-height: 80%;
    }

    .mediaquery_remove{
      display: none;
    }
  }

  .lastboxes{
    display: flex;
    justify-content: center;
    flex-direction: column;

    *{
      margin: auto;
      text-align: center !important;

    }

  }
}
// FINE RESPONSIVE
