// NO RACISM CONTAINER
.no_racism {
  background: black;
  color: white;
  padding-bottom: 30px;
  border-radius: 1rem;
  transform: translateX(400px);
  opacity: 0;
  animation: slide-left 3s 2s ease-in-out forwards;

  // NON SCOMMENTARE PRIMA DI GIOVEDI' IMPORTANTE
  // &:hover{
  //   background-image: url('https://i.imgur.com/NiT6MCQ.png');
  //   background-position: right bottom;
  //   background-repeat: no-repeat;
  // }

}

// card CSS
.onHover {
  border: none;
  background-image: linear-gradient(270deg, rgb(255, 240, 240), white);
  transition: all 0.2s linear;
  img {
    border-radius: 0.25rem;
    height: 100%;
  }
  &:hover {
    transform: scale(1.06);
  }
  .fab.fa-stripe-s {
    font-size: 22px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  h3 {
    a:hover {
      text-decoration: none;
    }
  }
  .hr_container {
    height: 10px;
    width: 136.245px;
  }
}

// TOTAL PRICE
.total_prc {
  text-decoration: underline;
}

// BOTTONE IN BASSO A DESTRA
.from_bottom {
  height: 100%;
  width: 100%;
  padding: 1.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

// LINK-PAGINATION
ul {
  .page-item .page-link {
    color: $redbnb;
  }
  .page-item.active .page-link {
    background-color: $redbnb;
    border-color: $redbnb;
  }
}

.lastboxes{
  justify-content: center;
}

#scrolled-button {
  background-color:$redbnb;
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  color: white;
  display: none;
}

// CARTINA
.cartina{
  width: 1000px;
  height: 220px;
  background-image: linear-gradient(270deg, rgb(255, 240, 240), white);
  display: flex;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;

  .cartina_left{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .created-at-stick {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.5);
      width: 11%;
      height: 15%;
      z-index: 2;
      border-radius: 20px 0px 20px 0px;

      #created-at {
        color: white;
        font-size: 15px;
        margin: 0;
      }
    }

    .img{
      height: 100%;
      width: 95%;

      img{
        height: 100%;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius:20px;
      }
    }
  }

  .cartina_center{
    width: 42%;
    height: 100%;
    color: white;

    h6 {
      color: rgb(182, 182, 182);
    }

    h3{
      text-transform: capitalize;
    }

    .detail-home {

      .sticker-detail{

        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 0px 10px 10px 0px;
        padding-left: 20px;
        width: 50%;
        position: relative;
        left: -15px;

        p{
          margin-bottom: 5px;
          color: rgb(55, 55, 55);
        }

        hr{
          background: rgb(55, 55, 55);
          width: 70%;
        }

        .fas {
          font-size: 20px;
        }

        .number-of-elements {
          font-size: 20px;
          color: $redbnb;
          font-weight: bold;
        }
      } // close sticker-detail
    } // close detail-home

    .optional-home {

    }
  } // close cartina_center

  .cartina_right{
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .cuoricino-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor:pointer;
    }
    div{
      margin-bottom: 20px;
    }
  }

  .cartina_sponsor{
    width: 4%;
    height: 100%;
    background-color: gold;
    opacity: 0.7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    p{
      text-transform: uppercase;
      transform: rotate(270deg);
      margin-top: 118px;
      color: white;
      font-size: 20px;
      margin-top: 170px;
      letter-spacing: 2px;
    }
  }
}

// ENDBOXES

.endbox1, .endbox2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .endtext{
    width: 30%;
    text-align: left;
  }

  .endimg{
    width: 60%;
  }
}

// INIZIO RESPONSIVE

@media screen and (max-width: 1455px) {

  .bottone{
    width: 80%;
  }

  .cartina .cartina_sponsor p {
    font-size: 18px;
    margin-top: 159px;
  }

  .pagination{
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .cartina{
    max-height: 200px;
    max-width: 730px;
    margin-left: 100px;

    img{
      max-height: 80%;
    }

    .cartina_hr, .bagni{
      display: none;
    }
  }
}

.favorite {
  color: red;
}


@media screen and (max-width: 1350px) {

  .endbox1, .endbox2{
    flex-direction: column;

    .endtext{
      width: 70%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1170px) {

  .cartina{
    max-height: 180px;
    max-width: 500px;
    margin-left: 100px;

    .bottone, .bagni, .cartina_hr{
      display: none;
    }

    .cartina_sponsor{
      width: 10%;

      p{
        font-size: 18px;
        margin-top: 137px;
        font-weight: bolder;
        letter-spacing: 1.8px;
      }
    }
  }
}

@media screen and (max-width: 991px) {

  .jumbotitle{
    text-align: center !important;
  }

  .aside_left{
    margin-bottom: 50px;

    .row{
      margin: auto;
    }
  }

  .cartina{
    border-radius: 20px;
    max-width: 800px;

    .cartina_hr{
      display: block;
    }

    .cartina_sponsor{
      .sponsored{
        margin-top: 123px;
      }
    }
  }

}

// FINE RESPONSIVE
