// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// SCSS Files
@import 'carousel_one';
@import 'animations';
@import 'banner';
@import 'header';
@import 'jumbotron';
@import 'my-apartment';
@import 'home';

// GENERAL CSS
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  body {
    overflow-x: hidden;
    // .specific_apt {
    //   background-color: #FFF;
    //   border-radius: 4px;
    //   width: 145px;
    //   position: absolute;
    //   top: 50px;
    //   right: 50px;
    // }
  }

  .alert-success {
    position: absolute;
    top: 300px;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
  }
}
