// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  box-shadow: 1px 1px 6px 3px grey;
  position: fixed;
  top: 0;
  left: 0;
}

.main_content {
  margin-top: 80px;
  .jumbotron {
    height: 500px;
    background-image: url('../images/background-jumbotron.jpg');
  }
}

.filter {
  width: 100%;
  form {
    width: 75%;
  }
}

.header-sx{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.header-logo{
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  width: 30%;
  color: rgb(255, 68, 68);
}
.header-logo i{
  font-size: 30px;
}
.header-search{
  background-color: cyan;
  width: 150px;
}
/* FINE PARTE SINISTRA */
.header-dx{
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.header-dx ul{
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.register-button{
  padding: 0 16px;
  height: 40px;
  border: 1px solid red;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

// jumbotron
