#dropdown_sponsor_basic, #dropdown_sponsor_standard, #dropdown_sponsor_premium {
  display: none;
}

h1 {
  text-align: center;
  color: $redbnb;
}

.triple-sponsorization {
  // border: 0.5px solid black;
  // border-radius: 6px;
  tr {
    th, td {
      border: 0.3px solid black;
    }
  }
  .basic_spnsr {
    background-image: linear-gradient(105deg, rgba(245, 192, 144, .3), white);
    border-radius: 6px;
    padding: 15px;
    h3 {
      font-weight: bold;
    }
  }

  .standard_spnsr {
    background-image: linear-gradient(180deg, rgba(242, 242, 242, .6), white);
    border-radius: 6px;
    padding: 15px;
    h3 {
      font-weight: bold;
    }
  }

  .premium_spnsr {
    background-image: linear-gradient(255deg, rgba(255,215,0, .3), white);
    border-radius: 6px;
    padding: 15px;
    h3 {
      font-weight: bold;
    }
  }
}

#button_basic, #button_standard, #button_premium {
  border-radius: 0.25rem;
  padding: 5px 14px;
  color: white;

}

#submit-button-basic, #submit-button-standard, #submit-button-premium {
  border-radius: 0.25rem;
  padding-top: 4px;
  padding-bottom: 5px;
}

// MEDIA QUERY ----------------------------------------------------------------------------------

// DISPLAY 2K
@media screen and (min-device-width: 2000px) {


}

// DISPLAY 1080
@media screen and (min-device-width: 1900PX) and (max-device-width: 1999px) {


}

// SMALL PC
@media screen and (min-device-width: 1200PX) and (max-device-width: 1899px) {


}

// DISPLAY TABLET
@media screen and (min-device-width: 700px) and (max-device-width: 1199px) {



}

// DISPLAY SMATPHONE
@media screen and (max-device-width: 699px) {


}
